# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\data_java\XunFang\JXC-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
